<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30413344-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  // register the service worker
  {{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
  console.info('on localhost - not loading service worker');
  {{ else }}
  if ('serviceWorker' in navigator) {
    {{ $stat := os.Stat "/content" }}
    navigator.serviceWorker.register('/sw.js?{{ $stat.Size }}');
  }
  {{ end }}
</script>
{{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
  <script src="/js/main.js"></script>
{{ else }}
  <script src="{{ .Site.BaseURL }}js/main.min.js"></script>
{{ end }}
{{ if eq .Params.Template "post" }}
  <!-- <script src="/js/highlight.custom.js"></script>
  <script>hljs.initHighlightingOnLoad();</script> -->
{{ end }}
</body>
</html>
