{{ $jsTemplate := resources.Get "service-worker.js" }}
{{ $js := $jsTemplate | resources.ExecuteAsTemplate "sw.js" . }}
<script defer>
  // register the service worker
  {{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
  console.info('on localhost - not loading service worker. Query: {{ $js.Permalink }} {{ now.Format "2006-01-02" }}');
  {{ else }}
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ $js.Permalink }}');
  }
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30413344-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  {{ end }}
</script>
</body>
</html>
