{{ partial "header.html" . }}
<div class="container">
  <header class="grid -middle -center">
    <p>
      <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" class="none">
        <img class="show-on-light" src="/icons/logo-light.svg" alt="{{ .Site.Title }} Logo" width="113" height="57">
        <img class="show-on-dark" src="/icons/logo-dark.svg" alt="{{ .Site.Title }} Logo" width="113" height="57">
      </a>
    </p>
  </header>
  <div class="the-loop">
    <article>
      <h2>404 Page Not Found</h2>
      <div class="post-intro">
        <p>The page you are looking for cannot be found. Please <a href="/" title="Homepage">return to the homepage</a>.</p>
      </div>
   </article>
  </div>
</div>
{{ partial "footer.html" . }}
