{{ partial "header.html" . }}
<div class="container">
  <header class="grid -middle -center">
    <p>
      <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" class="none">
        <img class="show-on-light" src="/icons/logo-light.svg" alt="James Doyle Logo" width="113" height="57">
        <img class="show-on-dark" src="/icons/logo-dark.svg" alt="James Doyle Logo" width="113" height="57">
      </a>
    </p>
  </header>
  <div class="the-loop">
    {{ range $.Site.RegularPages.ByDate.Reverse }}
      <article>
        <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
        <p class="post-info">
          {{ if .Params.Date }}
            <span class="post-date">🕒 {{ dateFormat .Site.Params.Date_format .Params.Date }}</span>
          {{ end }}
          {{ if .Params.Updated }}
            &nbsp;<span class="post-date">🕙 Updated: {{ dateFormat .Site.Params.Date_format .Params.Updated }}</span>
          {{ end }}
          {{ if .Params.Category }}
            &nbsp;<span class="post-category">🏷 {{ .Params.Category }}</span>
          {{ end }}
        </p>
        <div class="post-intro">
          <p>{{ .Params.Description }}</p>
          <p><a href="{{ .Permalink }}" class="read-more" title="Read {{ .Title }}">Read More <i class="icon icon-arrow-right"></i></a></p>
        </div>
     </article>
   {{ end }}
  </div>
</div>
{{ partial "footer.html" . }}
